<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pangu.foying.web.project.admin.mapper.BaseManagerMapper" >
  <resultMap id="BaseResultMap" type="com.pangu.foying.web.project.admin.entity.BaseManager" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="account" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="salt" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="realname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="telephone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="islock" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="addtime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
      <arg column="adduserid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="addusername" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="modifytime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
      <arg column="modifyuserid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="modifyname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="deletename" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="deletemark" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="deletetime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
      <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sortcode" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="worknumber" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="extentionnumber" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, account, password, salt, realname, telephone, email, islock, addtime, adduserid, 
    addusername, modifytime, modifyuserid, modifyname, deletename, deletemark, deletetime, 
    remark, sortcode, worknumber, extentionnumber
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pangu.foying.web.project.admin.entity.BaseManagerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from base_manager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from base_manager
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from base_manager
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pangu.foying.web.project.admin.entity.BaseManagerExample" >
    delete from base_manager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pangu.foying.web.project.admin.entity.BaseManager" >
    insert into base_manager (id, account, password, 
      salt, realname, telephone, 
      email, islock, addtime, 
      adduserid, addusername, modifytime, 
      modifyuserid, modifyname, deletename, 
      deletemark, deletetime, remark, 
      sortcode, worknumber, extentionnumber
      )
    values (#{id,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{isLock,jdbcType=BIT}, #{addTime,jdbcType=TIMESTAMP}, 
      #{addUserId,jdbcType=VARCHAR}, #{addUserName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifyUserId,jdbcType=VARCHAR}, #{modifyName,jdbcType=VARCHAR}, #{deleteName,jdbcType=VARCHAR}, 
      #{deleteMark,jdbcType=BIT}, #{deleteTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{sortCode,jdbcType=INTEGER}, #{workNumber,jdbcType=VARCHAR}, #{extentionNumber,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pangu.foying.web.project.admin.entity.BaseManager" >
    insert into base_manager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="realName != null" >
        realname,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="isLock != null" >
        islock,
      </if>
      <if test="addTime != null" >
        addtime,
      </if>
      <if test="addUserId != null" >
        adduserid,
      </if>
      <if test="addUserName != null" >
        addusername,
      </if>
      <if test="modifyTime != null" >
        modifytime,
      </if>
      <if test="modifyUserId != null" >
        modifyuserid,
      </if>
      <if test="modifyName != null" >
        modifyname,
      </if>
      <if test="deleteName != null" >
        deletename,
      </if>
      <if test="deleteMark != null" >
        deletemark,
      </if>
      <if test="deleteTime != null" >
        deletetime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="sortCode != null" >
        sortcode,
      </if>
      <if test="workNumber != null" >
        worknumber,
      </if>
      <if test="extentionNumber != null" >
        extentionnumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="isLock != null" >
        #{isLock,jdbcType=BIT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserId != null" >
        #{addUserId,jdbcType=VARCHAR},
      </if>
      <if test="addUserName != null" >
        #{addUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyName != null" >
        #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="deleteName != null" >
        #{deleteName,jdbcType=VARCHAR},
      </if>
      <if test="deleteMark != null" >
        #{deleteMark,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sortCode != null" >
        #{sortCode,jdbcType=INTEGER},
      </if>
      <if test="workNumber != null" >
        #{workNumber,jdbcType=VARCHAR},
      </if>
      <if test="extentionNumber != null" >
        #{extentionNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pangu.foying.web.project.admin.entity.BaseManagerExample" resultType="java.lang.Integer" >
    select count(*) from base_manager
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update base_manager
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.salt != null" >
        salt = #{record.salt,jdbcType=VARCHAR},
      </if>
      <if test="record.realName != null" >
        realname = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null" >
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.isLock != null" >
        islock = #{record.isLock,jdbcType=BIT},
      </if>
      <if test="record.addTime != null" >
        addtime = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addUserId != null" >
        adduserid = #{record.addUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.addUserName != null" >
        addusername = #{record.addUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        modifytime = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyUserId != null" >
        modifyuserid = #{record.modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyName != null" >
        modifyname = #{record.modifyName,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteName != null" >
        deletename = #{record.deleteName,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteMark != null" >
        deletemark = #{record.deleteMark,jdbcType=BIT},
      </if>
      <if test="record.deleteTime != null" >
        deletetime = #{record.deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.sortCode != null" >
        sortcode = #{record.sortCode,jdbcType=INTEGER},
      </if>
      <if test="record.workNumber != null" >
        worknumber = #{record.workNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.extentionNumber != null" >
        extentionnumber = #{record.extentionNumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update base_manager
    set id = #{record.id,jdbcType=VARCHAR},
      account = #{record.account,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      salt = #{record.salt,jdbcType=VARCHAR},
      realname = #{record.realName,jdbcType=VARCHAR},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      islock = #{record.isLock,jdbcType=BIT},
      addtime = #{record.addTime,jdbcType=TIMESTAMP},
      adduserid = #{record.addUserId,jdbcType=VARCHAR},
      addusername = #{record.addUserName,jdbcType=VARCHAR},
      modifytime = #{record.modifyTime,jdbcType=TIMESTAMP},
      modifyuserid = #{record.modifyUserId,jdbcType=VARCHAR},
      modifyname = #{record.modifyName,jdbcType=VARCHAR},
      deletename = #{record.deleteName,jdbcType=VARCHAR},
      deletemark = #{record.deleteMark,jdbcType=BIT},
      deletetime = #{record.deleteTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      sortcode = #{record.sortCode,jdbcType=INTEGER},
      worknumber = #{record.workNumber,jdbcType=VARCHAR},
      extentionnumber = #{record.extentionNumber,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pangu.foying.web.project.admin.entity.BaseManager" >
    update base_manager
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        realname = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="isLock != null" >
        islock = #{isLock,jdbcType=BIT},
      </if>
      <if test="addTime != null" >
        addtime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUserId != null" >
        adduserid = #{addUserId,jdbcType=VARCHAR},
      </if>
      <if test="addUserName != null" >
        addusername = #{addUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modifytime = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        modifyuserid = #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyName != null" >
        modifyname = #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="deleteName != null" >
        deletename = #{deleteName,jdbcType=VARCHAR},
      </if>
      <if test="deleteMark != null" >
        deletemark = #{deleteMark,jdbcType=BIT},
      </if>
      <if test="deleteTime != null" >
        deletetime = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sortCode != null" >
        sortcode = #{sortCode,jdbcType=INTEGER},
      </if>
      <if test="workNumber != null" >
        worknumber = #{workNumber,jdbcType=VARCHAR},
      </if>
      <if test="extentionNumber != null" >
        extentionnumber = #{extentionNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pangu.foying.web.project.admin.entity.BaseManager" >
    update base_manager
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      realname = #{realName,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      islock = #{isLock,jdbcType=BIT},
      addtime = #{addTime,jdbcType=TIMESTAMP},
      adduserid = #{addUserId,jdbcType=VARCHAR},
      addusername = #{addUserName,jdbcType=VARCHAR},
      modifytime = #{modifyTime,jdbcType=TIMESTAMP},
      modifyuserid = #{modifyUserId,jdbcType=VARCHAR},
      modifyname = #{modifyName,jdbcType=VARCHAR},
      deletename = #{deleteName,jdbcType=VARCHAR},
      deletemark = #{deleteMark,jdbcType=BIT},
      deletetime = #{deleteTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      sortcode = #{sortCode,jdbcType=INTEGER},
      worknumber = #{workNumber,jdbcType=VARCHAR},
      extentionnumber = #{extentionNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>